{% extends  'tasks/base.html' %}

{% block task %}
    <form method="POST">
        {% csrf_token %}
        <h1>
            {{ title }}
        </h1>

        {% for field in fields %}
        <div class="w3-container">
            <label>{{field}}</label>
            <input class="w3-input" name="{{field}}" type="number" step="0.01">
        </div>
        {% endfor %}


            <button type="submit" class="w3-button w3-round-large w3-mobile w3-text-white w3-padding-16"
                    style="background-color:#031C52;max-width:350px;min-width:280px;margin-top:15px">
                <h3 style="color:white">Calcular</h3>
            </button>


        {% if calc_done %}
            <h3>
                {{result_sentence | safe}}
            </h3>
        {% endif %}

    </form>
{% endblock %}