{% extends  'tasks/base.html' %}

{% block task %}
<div class="w3-content w3-wide" style="max-width:1600px;" id="home">

    {% if not is_complete %}

        <h1 id="title">
            {{ task.title }}
        </h1>
        <h3  id="text">
            {{ task.text | safe }}
        </h3>
        <div class="w3-content" style="text-align: center;">
            <img src="{{ task.image.url }}" style="margin:auto"/>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="w3-container">
                <button type="submit" class="w3-button w3-round-large w3-mobile w3-padding-8"
                        style="background-color:#33ff33;min-width:350px;margin-top:15px">
                    <h3>Concluí o desafio com sucesso!</h3>
                </button>
            </div>
        </form>

    <script>
        document.body.style.backgroundColor = "black";
        document.getElementById("title").style.color = "#ffffff ";
        document.getElementById("text").style.color = "#ffffff ";
        document.getElementById("back_buttom").style.backgroundColor  = "black";
        document.getElementById("back_symbol").style.color = "#ffffff";
        document.getElementById("back").style.color = "#ffffff";
    </script>

    {% else %}

    <h1 id="congratulations">
        Parabéns!!!
    </h1>

    <script>
        document.body.style.backgroundColor = "black";
        document.getElementById("back_buttom").style.backgroundColor  = "black";
        document.getElementById("back_symbol").style.color = "#ffffff";
        document.getElementById("back").style.color = "#ffffff";
        document.getElementById("congratulations").style.color = "#ffffff";
    </script>

    {% endif %}



</div>
{% endblock %}