<!DOCTYPE html>
<html lang="pt"  style="height:100%">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>App de nutricao</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script type="module" src="{% static 'jscookie.js'%}"></script>
    <script src="{% static 'my_js.js'%}"></script>
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}"/>

    <script>

    </script>
    <link rel="stylesheet" href="{% static 'main.css'%}">
    <link rel="stylesheet" href="{% static 'w3.css'%}">
</head>
<body style="height:100%">

<!-- header -->
<div class=" w3-card my-top w3-text-white" style="z-index: 2;background-color:#031C52 !important">
    <div class="center" style="max-width: 1000px !important;">
        <a href="/dashboard">
            <div class="w3-col l3 m3 s3"><div style="margin-left:30px;">
                <div class="w3-cell w3-padding" style="">
                    <i class="fas fa-bolt" style="font-size:30px;color:yellow !important;
                    text-shadow: 2px 2px white"></i>
                </div>
                <div class="w3-cell w3-hide-small"  style="padding-left:15px">
                    <h4 class="w3-wide" style="margin-top:0px; margin-left:5px;color:#FFFFFF !important"><b>INÍCIO</b></h4>
                </div>
                <h6 class="w3-hide-medium w3-hide-large" style="color:white;margin-top:0px">INÍCIO</h6>
            </div></div>
        </a>
        <a href="/dashboard/protocol/all">
        <div class="w3-col l3 m3 s3" style=""><div style="margin-left:5px;">
            <div class="w3-cell w3-padding">
                <i class="	fas fa-book-open" style="font-size:30px;color:yellow !important;
                text-shadow: 2px 2px white;margin-left:12px;"></i>
            </div>
            <div class="w3-cell w3-hide-small">
                <h4 class="w3-wide" style="margin-top:0px; margin-left:5px;color:#FFFFFF !important"><b>PROTOCOLO</b></h4>
            </div>
            <h6 class="w3-hide-medium w3-hide-large" style="color:white;margin-top:0px">PROTOCOLO </h6>
        </div>
        </div>
        </a>
        <a href="/dashboard/recipes/all">
        <div class="w3-col l3 m3 s3" style=""><div style="margin-left:20px;">
            <div class="w3-cell w3-padding">
                <i class="fas fa-apple-alt" style="font-size:30px;color:yellow !important;text-shadow: 2px 2px white"></i>
            </div>
            <div class="w3-cell w3-hide-small" style="padding-left:15px">
                <h4 class="w3-wide" style="margin-top:0px; margin-left:5px;color:#FFFFFF !important"><b>RECEITAS</b></h4>
            </div>
            <h6 class="w3-hide-medium w3-hide-large" style="color:white;margin-top:0px">RECEITAS</h6>
        </div>
        </div>
        </a>
        <a href="/dashboard/favourites">
        <div class="w3-col l3 m3 s3" style=""><div style="margin-left:4px;">
            <div class="w3-cell w3-padding">
                <i class="fas fa-heart" style="font-size:30px;color:yellow !important;
                text-shadow: 2px 2px white;margin-left:8px"></i>
            </div>
            <div class="w3-cell w3-hide-small">
                <h4 class="w3-wide" style="margin-top:0px; margin-left:5px;color:#FFFFFF !important"><b>FAVORITOS</b></h4>
            </div>
            <h6 class="w3-hide-medium w3-hide-large" style="color:white;margin-top:0px">FAVORITOS</h6>
        </div>
        </div>
        </a>
    </div>



<!--            <div class="w3-container w3-cell w3-orange">
                <div class="w3-cell w3-padding">
                    <i class="fas fa-bolt" style="font-size:40px;color:#031C52F3;text-shadow: 2px 2px orange"></i>
                </div>
                <div class="w3-cell w3-hide-small"  style="">
                    <h3 class="w3-wide">Início</h3>
                </div>
            </div>-->



<!--    <a href="">
        <div class="w3-col" style="width:45px">
            <i class="material-icons"  style="font-size:45px;color:#031C52;">view_headline</i>
        </div>
        <div class="w3-col" style="width:100px">
            <h3 class="re-font w3-wide w3-hide-small" style="margin-block-start:2px;margin-block-end:2px;
            padding-top:5px">
                Menu </h3>
        </div>
    </a>
    <div class="w3-rest w3 container w3-center">
        <h2 class="re-font w3-wide" style="margin-block-start:4px;margin-block-end:4px;
           text-shadow: 2px 2px orange;"> RESET</h2>
    </div>-->
</div>
<div class="w3-rest w3-container w3-center">
    <h2 class="re-font w3-wide w3-hide-small" style="margin-block-start:4px;margin-block-end:4px;
           text-shadow: 2px 2px yellow;"> RESET </h2>
</div>

<div class="w3-content" style="max-width:1000px">
{% block main %}
{% endblock %}
</div>

<div class="w3-rest w3-container w3-center" style="height:100px;width:100%">

</div>

<!-- Footer -->
<!--<footer class="w3-right-align w3-block w3-orange w3-padding-16">
    <h6 class="w3-padding">Web app desenvolvido por <a href="https://renansiqueira.herokuapp.com">Renan Siqueira</a>.</h6>
</footer>-->

<script src="https://kit.fontawesome.com/f6c0905689.js"></script>

</body>
</html>