{% extends  'dashboard/base.html' %}

{% block main %}
<div class="w3-content w3-wide" style="max-width:1600px;" id="home">

    <div class="w3-container w3-padding">
        <h1 class="">Receitas</h1>
    </div>

    {% for r in recipes %}

    <div  class="w3-card4 w3-row w3-block w3-hover-yellow w3-button w3-yellow w3-round w3-leftbar w3-rightbar w3-border w3-border-amber"
    style="height:70px;margin-top:5px;">
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" id="{{ r.name }}r" name="{{ r.name }}" value="
            {% if r in favourite_recipes %}1{%else%}0{%endif%}">
            <button class="w3-col w3-border-0" onclick="favourite('{{ r.name }}')" style="height:70px;width:70px;display:inline;
            background-color:transparent;margin-top:-10px;outline:none;}" >
                <i class='{% if r in favourite_recipes %}
                fas fa-heart{%else%}far fa-heart{%endif%}' id="{{ r.name }}h" style='font-size:48px;margin-top:0px;color:orange'></i>
            </button>
        </form>
        <div class="w3-col" onclick="{% if favourite_recipes %}accordion('{{ r.name }}'){% endif %}"
             style="height:70px;width:calc(100% - 80px);">
            <h2 style="margin-top:4px">{{ r.name }}</h2>
        </div>
    </div>
    <div id="{{ r.name }}" class="w3-hide">
        <div class="w3-container w3-sand">
            <h3>Ingredientes:</h3>
            <h4>{% for line in r.ingredients.splitlines %}
                    {{ line }} <br>
                {% endfor %}
            </h4>
        </div>
        <div class="w3-container w3-white">
            <h3>Preparo:</h3>
            <h4>{% for line in r.description.splitlines %}
                {{ line }} <br>
                {% endfor %}
            </h4>
        </div>
    </div>
    {% endfor %}

    <script>
        accordion("{{recip_open}}")

        {% if not protocol_meals %}

        var buttons = document.getElmentsbyType(button)

       for (b of buttons) {
           b.disabled = true
       }

       {% endif %}


    </script>

</div>
{% endblock %}