{% extends 'Main/base.html' %}

{% block main %}

<div class="w3-row w3-content w3-green w3-wide" style="max-width:1600px" id="home">
  <div class="w3-col l6 m12 s12 w3-padding">
    <h3>E-mail já cadastrado. Por favor entre com usuário e senha, ou clique em "Esqueci minha senha".
    <br>Para entrar com essa conta social, a conta regular deve ser cancelada.</h3>
  </div>
  <a href="/">
    <div class="w3-button w3-block w3-indigo">
      Página inicial
    </div>
  </a>
  <a href="/login">
    <div class="w3-button w3-block w3-indigo">
      Entrar
    </div>
  </a>
  <a href="{% url 'Main:password_reset' %}">
    <div class="w3-button w3-block w3-indigo">
      Esqueci minha senha
    </div>
  </a>
</div>

{% endblock %}
