{% extends  'Main/base.html' %}

{% load socialaccount %}
{% providers_media_js %}

{% block main %}
<div class="w3-row w3-center w3-wide w3-text-white" style="text-align:center;max-width:1600px;height:100%;background-color:#031C52" id="home">
    <div class="w3-padding" style="max-width:600px;margin:auto">
        <h1 class="w3-xxlarge w3-text-white" style="margin-bottom: 30px">Entrar</h1>

        <a href="{% provider_login_url 'google' %}">
            <div class="google btn" style="margin-top:10px">
                <i class="fa fa-google fa-fw" style="color:white"></i> Entrar com Google
            </div>
        </a>
        <a href="{% provider_login_url 'facebook' method='oauth2' %}">
            <div class="fb btn" style="margin-top:10px">
                <i class="fa fa-facebook fa-fw" style="color:white"></i> Entrar com Facebook
            </div>
        </a>

        <h3 class="w3-large w3-text-white" style="margin-top:25px !important">ou</h3>

    <form class="w3-col l6 m12 s12 w3-padding" style="width:100%" method="POST">
        {% csrf_token %}

        <p>
            <label class="w3-large w3-text-white">Usuário(a)</label>
            <input class="w3-input w3-border" type="text" name="username"/>
        </p>
        <p>
            <label class="w3-large w3-text-white">Senha</label>
            <input class="w3-input w3-border" type="password" name="password"/>
        </p>
        <button type="submit" class="w3-button w3-block w3-wide w3-yellow">Entrar</button>
        {% if form.errors %}
        <p>Usuário(a) ou senha incorretos. Tente novamente.</p>
        {% endif %}

        <a href="{% url 'Main:password_reset' %}">
            <div class="w3-button w3-block w3-indigo" style="margin-top:10px">
                Esqueci minha senha
            </div>
        </a>
<!--        <p><a href="{# url 'password_reset' #}">Lost password?</a></p>-->
    </form>
    </div>
</div>
{% endblock %}