{% extends  'Main/base.html' %}

{% block main %}
<div  class="w3-container w3-row w3-content w3-green w3-wide" style="max-width:1600px;padding-bottom:16px;height:100%">
    <div class="w3-col l6 m12 s12 w3-padding">
        <h1 class="w3-xxlarge">Alteração de senha</h1>
    </div>
    <div class="w3-col l6 m12 s12 w3-padding">
        <h3 class="">Senha alterada com sucesso!</h3>
        <a href="/dashboard">
        <button  type="submit"  class="w3-button w3-block w3-padding-16  w3-orange">Voltar</button>
        </a>
    </div>

</div>

{% endblock %}