{% extends 'Main/base.html' %}

{% block main %}
<div  class="w3-center w3-content w3-wide w3-text-white" style="max-width:1600px;height:100%;background-color:#031C52">
    <div class="w3-padding" style="max-width:600px;margin:auto">
        <h1 class="w3-xxlarge w3-text-white" style="margin-bottom:16px">Recuperação de senha</h1>
        <form  class="w3-padding" style="height:500px" method="POST">
            {% csrf_token %}

            <p>
                <label class="w3-large w3-text-white">Nova senha</label>
                <input class="w3-input w3-border" type="password" name="new_password1" required/>
            </p>
            {% for error in form.new_password1.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}

            <p>
                <label class="w3-large w3-text-white">Confirmação</label>
                <input class="w3-input w3-border" type="password" name="new_password2" required/>
            </p>
            {% for error in form.new_password2.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}


            <button  type="submit"  class="w3-wide w3-button w3-block w3-padding-16 w3-yellow">Confirmar</button>
            <a href="/">
                <div class="w3-button w3-block w3-padding-16 w3-yellow"
                     style="margin-top:16px">Página Inicial</div>
            </a>
        </form>
    </div>
</div>
{% endblock %}