{% extends 'Main/base.html' %}

{% block main %}
<div  class="w3-row w3-content w3-green w3-wide" style="max-width:1600px;height:100%">
    <div class="w3-col l6 m12 s12 w3-padding">
        <h1 class="w3-xxlarge">Recuperação de senha</h1>
    </div>
        <form  class="w3-col l6 m12 s12 w3-padding" style="height:500px" method="POST">
            {% csrf_token %}

            <p>
                <label class="w3-large">Nova senha</label>
                <input class="w3-input w3-border" type="password" name="new_password1" required/>
            </p>
            {% for error in form.new_password1.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}

            <p>
                <label class="w3-large">Confirmação</label>
                <input class="w3-input w3-border" type="password" name="new_password2" required/>
            </p>
            {% for error in form.new_password2.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}


            <button  type="submit"  class="w3-wide w3-button w3-block w3-padding-16 w3-orange" style="border-bottom:16px">Confirmar</button>
            <a href="/">
                <div class="w3-button w3-block w3-padding-16 w3-orange" >Página Inicial</div>
            </a>
        </form>

</div>
</div>
{% endblock %}