{% extends  'Main/base.html' %}

{% block main%}
<div class="w3-row w3-content w3-green w3-wide" style="max-width:1600px;height:100%" id="home">
    <div class="w3-col l6 m12 s12 w3-padding">
        <h1 class="w3-xxlarge">Registro</h1>
    </div>
    <form class="w3-col l6 m12 s12 w3-padding" style="height:500px" method="POST">
        {% csrf_token %}
        <p>
            <label class="w3-large">Nome de Usuário</label>
            <input class="w3-input w3-border" type="text" name="username" required/>
        </p>
        {% for error in form.username.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
        <p>
            <label class="w3-large">Nome</label>
            <input class="w3-input w3-border" type="text" name="first_name" required/>
        </p>
        {% for error in form.first_name.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        <p>
            <label class="w3-large">Sobrenome</label>
            <input class="w3-input w3-border" type="text" name="last_name" required/>
        </p>
        {% for error in form.last_name.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        <p>
            <label class="w3-large">E-mail</label>
            <input class="w3-input w3-border" type="email" name="email" required/>
        </p>
        {% for error in form.email.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        <p>
            <label class="w3-large">Senha</label>
            <input class="w3-input w3-border" type="password" name="password1" required
                   onkeyup="check_password()" id="password1"/>
        </p>
        {% for error in form.password1.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        <p>
            <label class="w3-large">Confirme a senha</label>
            <input class="w3-input w3-border" type="password" name="password2" required
                   onKeyup="check_password()" id="password2"/>
        </p>
        {% for error in form.password2.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}

        <button type="submit" id="registration_submit">Registrar</button>
    </form>
</div>
{% endblock %}