{% extends  'Main/base.html' %}

{$ load url %}

{% block main %}
<div  class=" w3-center w3-content w3-wide" style="max-width:1600px;height:100%;;background-color:#031C52">
    <div class="w3-padding"   style="max-width:600px;margin:auto">
        <h1 class="w3-xxlarge w3-text-white">Deletar conta</h1>
        <h3 class="w3-text-white">Que pena! Você tem certeza que deseja deletar sua conta?</h3>
        <a href="{% url 'Main:signout_done' %}">
        <button  type="submit"  class="w3-button w3-block w3-padding-16  w3-red" style="margin-bottom:12px">Deletar conta</button>
        </a>
        <a href="{% url 'Main:dashboard' %}">
            <button  type="submit"  class="w3-button w3-block w3-padding-16  w3-yellow">Voltar</button>
        </a>
    </div>

</div>

{% endblock %}