<!DOCTYPE html>
<html lang="pt"  style="height:100%">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css'%}">
    <meta charset="UTF-8">
    <title>RESET</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f6c0905689.js"></script>
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}"/>

    <script>

    </script>
</head>
<body style="height:100%">


{% block main %}
{% endblock %}

<!-- Footer -->
<footer class="w3-center w3-block " style="background-color:#031C52">
    <h6 class="w3-padding" style="margin-top:0px;color:#123acc">Web app desenvolvido por <a href="https://renansiqueira.herokuapp.com"><b>Renan Siqueira</b></a>.</h6>
</footer>

</body>
</html>