{% extends  'Main/base.html' %}

{% block main %}
<div class="w3-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
    <div class="w3-container w3-padding w3-green">
        {% if user_request.is_authenticated %}
        <h1 class="w3-xxlarge">Bem-vindo, {{ user_data.first_name }}!</h1>
        <a href="/logout"><h1 class="w3-xlarge">Logout</h1></a>
        {% else %}
        <h1 class="w3-xxlarge">Bem-vindo!</h1>
        <a href="/registration"><h1 class="w3-xlarge">Cadastre-se aqui.</h1></a>
        {% endif %}
    </div>

    <div class="w3-container w3-orange" style="max-width:600px;min-width:400px">
        {% if user_group %}
        <h1 class="w3-xlarge">Grupo {{ user_group.group.name }} em andamento a {{days_in_action}}!</h1>
        {% else %}
        <h1 class="w3-xlarge">Você nao está em nenhum grupo</h1>
        {% endif %}
    </div>

    <div class="w3-container w3-orange" style="max-width:600px;min-width:400px">

    </div>

{% endblock %}